:root{
    --cube-width: 300px;
    --translateZ: 150px;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Courier New", monospace;
    background-color: #0F0E10;
    box-shadow: inset 0 0 100px #000;
    overflow: hidden;
}

.coords {
    display: flex;
    align-items: center;
    font-family: "Courier New", monospace;
    font-weight: bold;
    color: #bbbbbb;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 1;
}
.coords .current{
    margin-right: 20px;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    font-family: "Courier New", monospace;
    font-weight: bold;
    color: #bbbbbb;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.welcome-message {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
}

#toggleSound {
    background-color: #444;
    color: #bbbbbb;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    margin-right: 20px;
}

#toggleSound:hover {
    background-color: #555;
}

header{
    color: #eee;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin-top: 50px; /* Adjust based on the height of the top bar */
}

.rotate{
    height: 700px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.cube-container{
    perspective: 1000px;
}

.cube-container .cube {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.cube-container .cube-face{
    width: var(--cube-width);
    height: var(--cube-width);
    position: absolute;
    background-image: url('/images/psgbig.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6); /* If you want a semi-transparent black background */
    box-shadow: inset 0 0 25px #2e102e;
}

/* Face specific styles */
.cube-container .cube > .front { transform: translateZ(var(--translateZ)); }
.cube-container .cube > .back { transform: rotateY(180deg) translateZ(var(--translateZ)); }
.cube-container .cube > .left { transform: rotateY(-90deg) translateZ(var(--translateZ)); }
.cube-container .cube > .right { transform: rotateY(90deg) translateZ(var(--translateZ)); }
.cube-container .cube > .top { transform: rotateX(90deg) translateZ(var(--translateZ)); }
.cube-container .cube > .bottom { transform: rotateX(-90deg) translateZ(var(--translateZ)); }

.cube-container .cube-face .cube-text{
    width: var(--cube-width);
    height: var(--cube-width);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.6s ease;
}

.cube-container .cube-face .cube-text .text{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #b9b7ac;
    font-weight: bold;
    opacity: 1;
}

.cube-container .cube-face .cube-text .text a {
    color: #c89a2d;
    text-decoration: none;
}

.cube-container .cube-face .cube-text .text a:hover {
    text-decoration: underline;
}

.cube-text .top{
    top: 0;
}

.cube-text .bottom{
    bottom: 0;
}

.cube-text .left{
    left: 0;
    transform: translateX(-140px) rotate(-90deg);
}

.cube-text .right{
    right: 0;
    transform: translateX(140px) rotate(90deg);
}
